{% extends 'portfolio/layout.html' %}

<!DOCTYPE html>
<html lang="pt">

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Pedro Santos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/heroPage.css' %}">

    <title>HERO PAGE</title>

</head>

<body onload="startTime()">
    <div>

        <header class="Cabecalho">

            <div>
                <video class="CabecalhoVideo" autoplay loop muted>
                    {% load static %}
                        <source src="{% static 'portfolio/images/Cabecalhovideo.mp4' %}" type="video/mp4" />
                </video>

                <div class="TextoMenu">
                    <h1>No meio da dificuldade encontra-se a oportunidade.</h1>
                </div>
            </div>
        </header>
    </div>



    <section class="about">
        <div class="main2">
            {% load static%}
            <img src="{% static 'portfolio/images/Photo_Spotify-removebg-preview.png' %}" />
            <div class="about-text">
                <h2>About Me</h2>
                <h5>Developer & Designer</h5>
                <p>I am a front end web developer. I can pprovide clean code and pixel perfect desing
                I also make the website more & more interactive with web animations.</p>
                <button type="button" href="mailto: santospedro.2002@gmail.com">
                    Let´s Talk
                </button>
            </div>
        </div>

    </section>


    <div class="parallax2">
        <h1 class="d3">Veja o tempo Hoje!</h1>
        <button class="button"><a href="tempo" style="color: white">Clique aqui</a></button>

        <br>
        <br>
        <div style="background-color: #1b1b1b">
        <h2 style="color: #62ffe5">Veja aqui um novo facto sobre números, todos os dias:</h2>
        <p class="facto" style="color: #81d4fa"></p>
        </div>
    </div>


</body>
</html>
{% endblock %}