{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">


<button class="button"><a href="TFC" style="color: white">Clique aqui para ver os TFCs</a></button>
    <div class="container">
        <h3>Licenciatura</h3>
        {% for cadeira in cadeiras %}
            <div>
                <h2>{{ cadeira.nome }}</h2>
                <p>{{ cadeira.descricao }}</p>
            </div>
        {% endfor %}

        {% if request.user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Gravar" class="botao botao-sucesso">
            </form>
            {% else %}
            <h2 class="container">Faça login para ativar todas as funcionalidades</h2>
        {% endif %}
    </div>


{% endblock %}