{% extends 'portfolio/layout.html' %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">


	<h3>Login</h3>

    {% if message %}
      <p> {{ message }} </p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>
            <input type="text" name="username" placeholder="Username">
        </label>
        <label>
            <input type="password" name="password" placeholder="Password">
        </label>

        <input type="submit" value="Login">
    </form>
{% endblock %}