{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">


	<h3>Projetos</h3>
     <div class="container">
  <div>
    <h2>Programção Web</h2>
    <p>Aprender sobre HTML, CSS, PYTHON.</p>
  </div>

  <div>
    <h2>Base de Dados</h2>
    <p>Aprender como criar base de dados e gerir dados.</p>
  </div>

  <div>
    <h2>AED</h2>
    <p>Aprender como programar em java e algoritmos.</p>
  </div>

</div>
{% endblock %}