@charset "UTF-8";

.container {
  background-color: rgb(238, 248, 248);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 25px 100px;
}

.container div {
  float: left;
  width: 250px;   height: 150px;
  padding: 25px;  margin: 10px;
  background-color: white;
  border-radius: 10px;                 /* arredonda os cantos */
  box-shadow: 5px 5px 15px grey;
}

.container-text{
	width: 550px;
}

.container-text h2{
  margin: 100px;
  color: #570808;
}

.after-box {
  clear: left;
  background-color: skyblue;
}

button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}




